name: Build & Deploy hw1
on:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOKCERHUB_USERNAME }}
          password: ${{ secrets.DOKCERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: Almas2004/cars:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SHH_KEY }}
          
          script: |
            cd /var/www/go_1
            docker compose pull
            docker compose up -d